# K-Nearest Neighbour Algorithm

In [1]:
import pandas as pd

#data
tinggi = [160,159,155,156,151.5,155,162,153,151.5,155,159,151]
berat = [70,49,63,54,62,55,56,52,58,55,49,58]
l_perut = [78,65,76.5,74,79,79,74,72,76,67,72,77]
l_panggul = [99,87,95.5,88,98,88,90,89,94,91,89,99]
lemak = [33.3,24.6,37.8,31,37.3,27,31.7,31,31.6,29.8,28.7,34.4]

#label
label = [3,2,3,2,3,3,3,2,3,2,2,3]

df = pd.DataFrame({"tinggi":tinggi,"berat":berat,"l_perut":l_perut,"l_panggul":l_panggul,"lemak":lemak,"label":label})
df

    tinggi  berat  l_perut  l_panggul  lemak  label
0    160.0     70     78.0       99.0   33.3      3
1    159.0     49     65.0       87.0   24.6      2
2    155.0     63     76.5       95.5   37.8      3
3    156.0     54     74.0       88.0   31.0      2
4    151.5     62     79.0       98.0   37.3      3
5    155.0     55     79.0       88.0   27.0      3
6    162.0     56     74.0       90.0   31.7      3
7    153.0     52     72.0       89.0   31.0      2
8    151.5     58     76.0       94.0   31.6      3
9    155.0     55     67.0       91.0   29.8      2
10   159.0     49     72.0       89.0   28.7      2
11   151.0     58     77.0       99.0   34.4      3

Sebelum menentukan K-Nearest Neighbor kita harus mencari jarak terdekat menggunakan Euclidian Distance:

\begin{align}
d(\mathbf{p},\mathbf{q}) = \sqrt{\sum_{i=1}^n (\mathbf{p}_i - \mathbf{q}_i)^2}
\end{align}

Jadi, kita akan menghitung akar dari penjumlahan (data yang akan diprediksi dikurangi data yang ada (data train) dipangkat 2), label tidak dihitung. 
Kemudian setelah mendapatkan hasilnya kita urutkan dimulai angka terkecil (paling dekat) ke terbesar (paling jauh). Untuk mengetahui hasilnya kita tentukan K (jumlah data yang akan diambil). Misalnya kita pilih K = 5, maka kita ambil 5 data teratas (setelah diurut dari terkecil) kemudian kita hitung jumlah label terbanyak dari 5 data tersebut maka itulah hasilnya.

## Example

In [37]:
import math

# data prediksi
data = [155, 40, 62, 73.5, 20]

rows = df.shape[0]
columns = 6 # df.shape[1]

def KNN(data,k):
  distance_i = 0
  distance = []
  # loop for the rows
  for i in range(baris):
    # loop for the columns
    for j in range(columns-1):
      # columns -1 because the label doesn't count
      distance_i += (df.iloc[i,j] - data[j])**2
    distance.append(math.sqrt(distance_i))
    distance_i = 0
  df["distance"] = distance
  #sorting data start from lower value
  sort_data = df.sort_values('distance').reset_index(drop=True)
  #get sorting k-first data from sorting 
  k_nearest = sort_data.head(k)
  #get unique label and sum 
  sum_of_label = k_nearest["label"].value_counts().to_dict()
  #get the most data from k-first
  max_value = max(sum_of_label, key=sum_of_label.get)
  print(f"Berdasarkan data yang diberikan maka hasilnya adalah {max_value}")

KNN(data,5)

Berdasarkan data yang diberikan maka hasilnya adalah 2

# K = 5
# Label(2) = 5
# Label(3) = 0
### Jika kita memilih K = 5, maka kita dapatkan hasilnya adalah 2 karena dari data 5 teratas, label dengan angka 2 paling sering muncul